{% extends super.css %}

{% block css-styles %}
.login {
  margin: auto;
  margin-top: 20px;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
{% endblock %}
