body  {
  height: 100%;
  background-color: #2cbedb;
  margin: 0;
}


.nav-bar {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.nav-bar {
  background-color: #000;
  opacity: 0.55;
  height: 60px;
}

.button:hover {
  font-size: 80%;
  margin: auto;
  text-decoration: underline;
}

.button {
  display: flex;
  font-size: 80%;
  justify-content: center;
  align-items:center;
  margin: auto;
  text-align:center;
}

a {
  color: #fff;
  margin: auto;
  text-decoration: none;
}

#name {
  font-size: 200%;
  font-family: 'Great Vibes', cursive;
  text-decoration: underline;
}

.title {
  font-family: 'Anton', sans-serif;
  letter-spacing: 10px;
  color: #fff;
  font-size: 5em;
  margin: auto;
  text-align: center;
  text-shadow:
      -1px  1px 1px #121212,
      -2px  2px 1px #121212,
      -3px  3px 1px #121212,
      -4px  4px 1px #121212,
      -5px  5px 1px #121212,
      -6px  6px 1px #121212,
      -7px  7px 1px #121212,
      -7px  7px 1px #737373,
      -6px  6px 1px #737373,
      -5px  5px 1px #737373,
      -4px  4px 1px #737373,
      -3px  3px 1px #737373,
      -2px  2px 1px #737373,
      -1px  1px 1px #737373,
      0px  7px 1px #737373,
      1px  8px 1px #737373,
      2px  9px 1px #737373,
      3px  9px 1px #737373,
      4px  9px 1px #737373,
      5px  9px 1px #737373,
      5px  9px 1px #737373,
      5px  9px 1px #737373;
}

.members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  margin: 15px;
  flex-basis: 40%;
}

.member {
  max-width: 30%;
}

.post {
  font-weight: bold;
  border-top: dotted black 3px;
  border-bottom:dotted black 3px;
  text-align: center;
  padding: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

.pic_info {
  display: flex;
}

.info {
  background-color: white;
  width: 60%;
  padding: 5%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

}
.picture {
  display: block;
  text-align: center;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

hr {
  width: 20%;
  border: 1px solid #2cbedb;
}
