#container{
    border:1px solid #333;
    border-radius :20px;
    width:1000px;
    height:500px;
    margin:20px auto;
    padding:20px;
    text-align:center;
    background : #17202A;
  }
  
  #timer{ 
    color:#F5B041; 
    font-size:50px; 
    margin:10px auto;
    border : 5px solid #F5B041;
    border-radius:50%;
    width:300px;
    height:300px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
  }
  
  #time{
    margin-top:125px;
    z-index : 1;
    position:relative;
  }
  
  #filler{
    background : #7FB3D5;
    height: 0px;
    width: 300px;
    position:absolute;
    bottom:0;
  }
  
  #buttons button { 
    background:#2980B9; 
    border:none; 
    color:#fff; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
  }
  
  #buttons button#shortBreak{
    background : #138D75;
  }
  
  #buttons button#longBreak{
    background : #0E6655;
  }
  
  #buttons button#stop{
    background : #F39C12;
  }
  