{% extends 'mysite/base.html' %}
{% load static %}

{% block header%}

{% verbatim %}
<script id="item_disp" type="text/x-handlebars-template">
  <div class="col-2 bg-transparent m-2">
    <div class="row">
      <div class="col-12 align-center">
        <img class="img-fluid mx-auto" src="{{im_path}}" alt="{{im}}-icon">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-light">
        <h3>{{name}}</h3>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 mx-1">
          <a href="#" class="add_btn" id="{{name}}-btn"onclick="add_cart('{{name}}', '{{type}}')">
            <input class="btn btn-light text-danger" type="button" value="Add to cart">
          </a>
      </div>
    </div>
  </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="item_popup" type="text/x-handlebars-template">
  <div class="container h-100">
    <div id="cart_popup" class="overlay cart_overlay">
      <div class="row mt-5 text-danger text-center">
        <div class="col-2"></div>
        <div class="col-8 bg-light">
          <div class="row">
            <div class="col-11"></div>
            <div class="col-1">
              <button class="btn btn-light close_btn text-danger" onclick="popup_close()">X</button>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12 display-4" id="welcome_text">
              Selected: {{name}}
            </div>
          </div>
          <form action="/ajax/add_to_cart">
            <input type='hidden' name='cust_name' value='{{cust_name}}' />
            <input type='hidden' name='name' value='{{name}}' />
            <input type='hidden' name='item_type' value='{{type}}' />
            <div class="row mb-5">
              <div class="col-12 text-center">
                <label for="size-form" class="mx-3">Size</label>
                <div class="btn-group btn-group-toggle" id="size-form" data-toggle="buttons">
                  <label class="btn btn-warning">
                    <input type="radio" name="size" value="True"> Small
                  </label>
                  <label class="btn btn-warning active">
                    <input type="radio" name="size" value="False" checked> Large
                  </label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-5">Make your {{type}}!</button>
          </form>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="item_popup_pizza" type="text/x-handlebars-template">
  <div class="container h-100">
    <div id="cart_popup" class="overlay cart_overlay">
      <div class="row mt-5 text-danger text-center">
        <div class="col-2"></div>
        <div class="col-8 bg-light">
          <div class="row">
            <div class="col-11"></div>
            <div class="col-1">
              <button class="btn btn-light close_btn text-danger" onclick="popup_close()">X</button>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12 display-4" id="welcome_text">
              Selected: {{name}}
            </div>
          </div>
          <form action="/ajax/add_to_cart">
            <input type='hidden' name='cust_name' value='{{cust_name}}' />
            <input type='hidden' name='name' value='{{name}}' />
            <input type='hidden' name='item_type' value='{{type}}' />
            <div class="row">
              <div class="col-6 text-center">
                <label for="size-form" class="mx-3">Size</label>
                <div class="btn-group btn-group-toggle" id="size-form" data-toggle="buttons">
                  <label class="btn btn-warning">
                    <input type="radio" name="size" value="True"> Small
                  </label>
                  <label class="btn btn-warning active">
                    <input type="radio" name="size" value="False" checked> Large
                  </label>
                </div>
              </div>
              <div class="col-6 text-center">
                <label for="size-type" class="mx-3">Type</label>
                <div class="btn-group btn-group-toggle" id="size-type" data-toggle="buttons">
                  <label class="btn btn-warning">
                    <input type="radio" name="type" value="regular" checked> Regular
                  </label>
                  <label class="btn btn-warning active">
                    <input type="radio" name="size" value="sicilian"> Sicilian
                  </label>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 text-center">
                <label for="topping-select">Anything extra?</label>
                <select id="topping-select-{{id}}-{{type}}" class=" text-danger selectpicker show-tick" name="extra" data-style="btn-warning" data-max-options="{{num}}" multiple data-live-search="true">
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-5">Make your {{type}}!</button>
          </form>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="item_popup_sub" type="text/x-handlebars-template">
  <div class="container h-100">
    <div id="cart_popup" class="overlay cart_overlay">
      <div class="row mt-5 text-danger text-center">
        <div class="col-2"></div>
        <div class="col-8 bg-light">
          <div class="row">
            <div class="col-11"></div>
            <div class="col-1">
              <button class="btn btn-light close_btn text-danger" onclick="popup_close()">X</button>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12 display-4" id="welcome_text">
              Selected: {{name}}
            </div>
          </div>
          <form action="/ajax/add_to_cart">
            <input type='hidden' name='cust_name' value='{{cust_name}}' />
            <input type='hidden' name='name' value='{{name}}' />
            <input type='hidden' name='item_type' value='{{type}}' />
            <div class="row">
              <div class="col-6 text-center">
                <label for="size-form" class="mx-3">Size</label>
                <div class="btn-group btn-group-toggle" id="size-form" data-toggle="buttons">
                  <label class="btn btn-warning">
                    <input type="radio" name="size" value="True"> Small
                  </label>
                  <label class="btn btn-warning active">
                    <input type="radio" name="size" value="False" checked> Large
                  </label>
                </div>
              </div>
              <div class="col-6 text-center">
                <label for="topping-select">Anything extra?</label>
                <select id="topping-select-{{id}}-{{type}}" class=" text-danger selectpicker show-tick" name="extra" data-style="btn-warning" data-max-options="4" multiple data-live-search="true">
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-5">Make your {{type}}!</button>
          </form>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</script>
{% endverbatim %}

<link rel="stylesheet" type="text/css" href="{% static 'mysite/home.css' %}">
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'mysite/home.js' %}"></script>
{% endblock %}

{% block beforecont %}
<div class="container h-100">
  <div id="start_overlay" class="overlay">
    <div class="row mt-5 text-danger text-center">
      <div class="col-2"></div>
      <div class="col-8 bg-light display-4" id="welcome_text">
        Welcome to Pinocchio's!
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row text-primary text-center">
      <div class="col-2"></div>
      <div class="col-8 bg-light">
          <div class="form-group">
            <label for="disp_name" class="text-dark">Please enter your name to continue:</label>
            <input type="text" class="form-control" id="disp_name" name="disp_name" placeholder="Your name">
            <small id="disclaimer" class="form-text text-muted">This name is stored on your browser's local storage and it can't be changed later.</small>
          </div>
          <button type="submit" id="overlay_submit" class="btn btn-danger m-3">Submit</button>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent border-bottom border-light">
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="{% static 'mysite/img/logo.gif' %}" alt="" width="25">
    <span>Pinocchio's</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link options home-btn itemname-pizza" data-name="pizza" href="#">Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link options home-btn itemname-sub" data-name="sub" href="#">Subs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link options home-btn itemname-pasta" data-name="pasta" href="#">Pasta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link options home-btn itemname-salad" data-name="salad" href="#">Salads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link options home-btn itemname-platter" data-name="platter" href="#">Platters</a>
      </li>
    </ul>
    <a href="/cart">
      <button class="btn btn-light text-danger">Cart</button>
    </a>
  </div>
</nav>

<div id="popup"></div>

<div class="row m-2" id="item_display">
</div>
{% endblock %}
