{% extends "super.html" %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block nav_bar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('home')}}">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('my_books')}}">My Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('profile')}}">My profile</a>
  </li>
</ul>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Find books here" aria-label="Search">
  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2 m-3 mt-5 mb-2">
      <a class="black-text" href="{{url_for('static',filename='book.jpeg')}}"
        data-size="1600x1067">
        <img alt="picture" src="{{url_for('static',filename='book.jpeg')}}"
          class="img-fluid img-thumbnail">
        <h4 class="text-center text-light my-1">The Design Hustle</h4><small class="text-center text-secondary my-1"> - Douglas Adamss</small>
      </a>
    </div>
    <div class="col-2 m-3 mt-5 mb-2">
      <a class="black-text" href="{{url_for('static',filename='book.jpeg')}}"
        data-size="1600x1067">
        <img alt="picture" src="{{url_for('static',filename='book.jpeg')}}"
          class="img-fluid img-thumbnail">
        <h4 class="text-center text-light my-1">The Design Hustle</h4><small class="text-center text-secondary my-1"> - Douglas Adamss</small>
      </a>
    </div>
  </div>
</div>
{% endblock %}
