{% extends "super.html" %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block nav_bar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('home')}}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('my_books')}}">My Books</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('profile')}}">My profile</a>
  </li>
</ul>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Find books here" aria-label="Search">
  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card bg-secondary mt-5">
        <div class="text-center mt-3">
          <img alt="Profile photo" class="card-img-top" src="{{url_for('static',filename='imgs/profile.jpeg')}}" />
        </div>
        <div class="card-body text-light text-center">
          <h5 class="card-title">Manan Soni</h5>
          <p class="card-text">MananSoni_42</p>
        </div>
        <div class="row mx-3 my-1">
          <div class="col-3 text-light text-right">
            Books Read
          </div>
          <div class="col-9">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 75%">19</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
