{% extends "super.html" %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='sign_up.css') }}">
{% endblock %}

{% block nav_bar %}
<ul class="navbar-nav mr-auto">
</ul>
<a href="{{url_for('index')}}" class="mx-1">
  <button class="btn btn-outline-light my-2 my-sm-0" type="button">back</button>
</a>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-5 signup h3 text-light col-centered">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="email">e-mail</label>
          <input type="text" class="form-control" id="email" placeholder="abc@xyz.com">
        </div>
        <div class="form-group">
          <label for="uname">Username</label>
          <input type="text" class="form-control" id="uname" placeholder="Username">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fname">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="password">
          </div>
          <div class="form-group col-md-6">
            <label for="lname">Re-enter Password</label>
            <input type="pasword" class="form-control" id="repass" placeholder="password">
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
