.title-bar {
  background-color: #083D77;
  padding: 10px;
}

#logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 200%;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: rgba(237, 212, 73, 0.85);
}

#normal {
  font-size: 50%;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.8);
}

#name {
  color: #EDD449;
  align-content: center;
}

.info-bar {
  background-color: #DA4167;
  padding-top: 30px;
}

textarea {
  min-width: 100%;
}
button {
  background: none;
  border: 10px;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

button:hover .send-icn {
  fill: rgba(0, 0, 0, 1)
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

small {
  display: block;
  opacity: 0;
}
.notes-bar {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  text-align: center;
  align-content: center;
  padding: 25px;
}

.note {
  padding: 5px;
  background-color: #EDD449;
  border-bottom-right-radius: 10px;
}

hr.line {
  border-top: 1px solid magenta;
  width: 50%;
}
