.logo {
  font-weight: bold;
}

.cart-icon {
  display: block;
  width: 100%;
}

.options:hover {
  text-decoration: underline;
  font-weight: bold;
  color: white !important;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#start_overlay {
  background-color:rgba(0, 0, 0, 0.85);
  z-index:9999;
  color:white;
}

#cart_pizza {
  display: none;
}

.cart_overlay {
  z-index: 1;
}
